body
  font-family: 'Open Sans'
  padding-bottom: 4em
  font-size: 16px

ul.nav li a
  padding-left: 10px
  padding-right: 10px

.Background,.DSLs,.Telecom,.Automotive
  .content
    .page-header, p, li
      max-width: 45em
      line-height: 1.5
    p, li
      margin-bottom: 1.5em

.jumbotron
  text-align:center
